@reference "tailwindcss";

/* ================= SECTION ================= */
.gallery-section {
    @apply py-20;
}

.gallery-heading {
    @apply text-3xl text-[#707070] uppercase tracking-wider;
}

@media (min-width: 640px) {
    .gallery-heading {
        @apply text-4xl;
    }
}

.gallery-heading-line {
    @apply h-1 w-20 bg-red-500 mt-1;
}

/* ================= DESCRIPTION ================= */
.gallery-description {
    @apply text-[#707070] max-w-4xl text-sm;
}

/* ================= NAV ================= */
.gallery-nav {
    @apply flex gap-1;
}

.gallery-nav-btn {
    @apply border p-2 rounded-full hover:bg-gray-100 transition;
}

/* ================= GRID ================= */
.gallery-grid {
    @apply grid grid-cols-1 gap-6;
}

@media (min-width: 640px) {
    .gallery-grid {
        @apply grid-cols-2;
    }
}

@media (min-width: 1024px) {
    .gallery-grid {
        @apply grid-cols-3;
    }
}

/* ================= IMAGE CARD ================= */
.gallery-card {
    @apply relative cursor-pointer;
}

.gallery-image {
    @apply w-full h-60 object-cover rounded-md;
}

.gallery-image-title {
    @apply absolute bottom-3 left-0 right-0 bg-gradient-to-r from-black text-white text-sm py-2 px-4    ;
}

/* ================= POPUP ================= */
.gallery-popup {
    @apply fixed inset-0 z-50 bg-black/70 backdrop-blur-sm flex items-center justify-center px-4;
}

.gallery-popup-inner {
    @apply relative max-w-5xl w-full flex items-center justify-between gap-4;
}

.gallery-popup-image {
    @apply w-[90vw] mx-auto md:w-[800px] bg-amber-50 h-[60vh] overflow-hidden rounded-xl flex items-center justify-center;
}

.gallery-popup-image img {
    @apply w-full h-full object-contain;
}

.gallery-popup-close {
    @apply absolute top-4 right-4 text-black hover:text-red-400;
}