@reference "tailwindcss";

/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@import "./subpages/programs.css";
@import "./mainpagesections.css";
@import "./InstitutesSections.css";
@import "./Responsive.css";