@reference "tailwindcss";

/* Tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
/* @import "./subpages/programs.css"; */
/* @import "./subpages/departments.css"; */
@import "./mainpagesections.css";
@import "./InstitutesSections.css";
@import "./Responsive.css";
/* @import "./subpages/transcript.css"; */
/* @import "./subpages/CardMandatoryDisclosure.css"; */
/* @import "./subpages/dean-know-more.css"; */
/* @import "./subpages/accreditations_recognitions.css"; */
@import "./subpages/main-subpages.css";
@import "./micropages.css";