@reference "tailwindcss";

@layer components {

    .navbar {
        @apply relative w-full bg-white top-0 z-[999] px-0 lg:px-15 shadow-sm h-[100px];
    }

    .navbar-inner {
        @apply flex justify-between items-center px-6 h-full;
    }

    .navbar-logo {
        @apply w-[200px];
    }

    .navbar-desktop {
        @apply hidden lg:flex flex-col items-end w-full h-full;
    }

    .navbar-top-links {
        @apply flex gap-2 text-sm text-gray-600 mb-2 mt-auto;
    }

    .top-links {
        @apply border-r last:border-0 hover:underline pr-2;
    }

    .navbar-main {
        @apply flex gap-10 text-lg text-[#1f3c88] mt-auto;
    }

    .nav-link {
        @apply pb-1 border-b-4 border-transparent hover:border-[#ff4f37];
    }

    .nav-link-active {
        @apply border-[#ff4f37];
    }

    /* Mobile */
    .mobile-menu-full {
        @apply fixed inset-0 bg-[#122e5e] pt-15 px-4 gap-2 text-white z-[1000] overflow-y-auto;
    }

    .mobile-btn {
        @apply top-1/4 right-4 z-50 flex lg:hidden;
    }

    .toggle-manage {
        @apply flex;
    }

    .mobile-close-btn {
        @apply absolute top-6 right-6 text-white;
    }

    .mobile-menu-content {
        @apply px-6 pt-16 pb-10;
    }

    .mobile-section {
        @apply mb-1;
    }

    .mobile-heading-btn {
        @apply w-full text-left text-[16px] text-white mb-1;
    }

    .mobile-content-container {
        @apply flex flex-col gap-2 font-medium text-[16px] border-b-[3px] pb-4 border-b-white;
    }

    .mobile-heading-btn-mega {
        @apply w-full text-left text-[16px] pb-2 text-white border-white mb-1 border-b;
    }


    .mobile-sub-heading {
        @apply w-full text-sm font-semibold text-start text-white mt-2 pb-2 border-b border-white/40;
    }


    .mobile-link {
        @apply block text-[13px] leading-[1.6] text-white/90 mt-1;
    }

    .mobile-bottom-links {
        @apply pt-2 border-t space-y-2;
    }

    .mobile-bottom-links a {
        @apply block text-sm text-white;
    }


    .mobile-helpline {
        @apply mt-6 text-yellow-400 font-semibold text-sm;
    }

    /* Mega Menu */
    .mega-menu {
        @apply absolute right-1 mt-1 bg-white shadow-lg p-6 grid grid-cols-3 gap-6 w-[1000px] z-50;
    }

    .mega-menu-left {
        @apply col-span-2 grid grid-cols-2 gap-6;
    }

    .mega-heading {
        @apply font-semibold underline mb-2;
    }

    .mega-list {
        @apply space-y-1;
    }

    .mega-link {
        @apply text-sm text-gray-600 hover:text-[#ff4f37];
    }

    /* Right preview */
    .mega-preview {
        @apply col-span-1;
    }

    .mega-preview-img {
        @apply w-full h-[180px] object-cover mb-2;
    }

    .mega-preview-title {
        @apply text-[#ff4f37] font-bold text-sm;
    }

    .mega-preview-desc {
        @apply text-sm text-gray-600;
    }

    .mega-preview-placeholder {
        @apply text-sm text-gray-400;
    }

}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-out forwards;
}