@reference "tailwindcss";

/* ================= INFO SECTION ================= */
@media (min-width: 640px) {
    .info-title {
        @apply justify-between;
    }

    .info-title-line {
        @apply block;
    }

    .info-title-text {
        @apply text-lg;
    }
}




@media (min-width: 768px) {
    .info-title-text {
        @apply text-xl;
    }
}

@media (min-width: 1280px) {
    .info-title-text {
        @apply text-3xl;
    }
}


@media (min-width: 640px) {
    .info-content {
        @apply px-4;
    }
}




@media (min-width: 640px) {
    .info-tagline {
        @apply text-3xl;
    }
}

@media (min-width: 768px) {
    .info-tagline {
        @apply text-4xl;
    }
}


@media (min-width: 768px) {
    .deans-heading {
        @apply text-4xl;
    }
}

@media (min-width: 768px) {
    .deans-section {
        @apply py-20;
    }
}


@media (min-width: 1024px) {
    .deans-layout {
        @apply flex-row items-start text-left;
    }
}

@media (min-width: 768px) {
    .deans-image {
        @apply w-[370px];
    }
}

@media (min-width: 1024px) {
    .deans-image {
        @apply mx-0;
    }
}




@media (max-width: 639px) {
    .deans-info {
        @apply mt-4;
    }
}

/* ================= HOLISTIC ================= */
@media (min-width: 768px) {
    .holistic-layout {
        @apply flex-row gap-8;
    }

    .holistic-heading {
        @apply text-4xl;
    }

    .holistic-image-box {
        @apply mt-10;
    }
}

/* ================= COLLAB ================= */
@media (min-width: 1024px) {
    .collab-layout {
        grid-template-columns: 36% 60%;
    }
}

@media (min-width: 768px) {
    .collab-heading {
        @apply text-4xl;
    }
}

@media (min-width: 768px) {
    .collab-stats-grid {
        @apply grid grid-cols-3;
    }
}

/* ================= GLOBAL ================= */
@media (min-width: 640px) {
    .global-heading {
        @apply text-4xl;
    }

    .global-desktop {
        @apply flex;
    }

    .global-mobile {
        @apply hidden;
    }
}

/* ================= PLACEMENTS ================= */
@media (min-width: 768px) {
    .placements-grid {
        @apply grid-cols-3;
    }
}

@media (min-width: 768px) {
    .placements-item {
        @apply border-r-1 border-[#707070] last:border-r-0;
    }
}

/* Feature */
@media (min-width: 768px) {
    .feature-heading {
        @apply text-4xl;
    }
}



@media (min-width: 640px) {
    .feature-heading-line {
        @apply w-20;
    }
}

/* 
@media (min-width: 640px) {
    .global-heading {
        @apply text-4xl;
    }
}

@media (min-width: 640px) {
    .global-desktop {
        @apply flex;
    }
}

@media (min-width: 640px) {
    .global-mobile {
        @apply hidden;
    }
} */

/* ================= HOSPITAL ================= */

@media (min-width: 1024px) {
    .hospital-layout {
        @apply flex-row items-start;
    }
}

/* ================= LEFT CONTENT ================= */
@media (min-width: 1024px) {
    .hospital-content {
        @apply basis-[40%];
    }
}

/* ================= HEADING ================= */
@media (min-width: 768px) {
    .hospital-heading {
        @apply text-4xl;
    }
}

@media (min-width: 640px) {
    .hospital-heading-line {
        @apply w-20;
    }
}


@media (min-width: 768px) {
    .hospital-cta {
        @apply text-[15px];
    }
}

@media (min-width: 1024px) {
    .hospital-slider {
        @apply basis-[60%] mt-32;
    }
}

@media (min-width: 1024px) {
    .hospital-slide-image {
        @apply h-[500px];
    }
}


@media (min-width: 768px) {
    .departments-grid {
        @apply grid-cols-3;
    }

}



@media (min-width: 1024px) {
    .departments-grid {
        @apply grid-cols-4;
    }
}

@media (max-width: 639px) {
    .departments-grid {
        @apply grid-cols-2 px-0 gap-1;
    }

    .department-card-height {
        @apply h-[100px]
    }
}

/* ================= TESTIMONIAL ================= */

@media (min-width: 768px) {
    .testimonial-slide {
        @apply flex-row items-start text-left;
    }
}

@media (min-width: 640px) {
    .button-grid {
        @apply grid-cols-2;
    }
}

@media (min-width: 640px) {
    .button-item {
        @apply text-2xl;
    }
}

@media (min-width: 768px) {
    .button-section {
        @apply pt-10;
    }
}

@media (min-width: 640px) {
    .button-grid>.button-item:nth-last-child(1):nth-child(odd) {
        grid-column: 1 / -1;
        justify-self: center;
        max-width: 50%;
    }
}

@media (min-width: 640px) {
    .button-center {
        @apply text-2xl w-auto;
    }
}

/* ================= ANNOUNCEMENTS ================= */
@media (min-width: 640px) {
    .announce-grid {
        @apply grid-cols-2;
    }
}

@media (min-width: 768px) {
    .announce-btn-text {
        @apply text-xl;
    }
}

@media (min-width: 640px) {
    .announce-heading-line {
        @apply w-20;
    }
}

@media (min-width: 768px) {
    .announce-heading {
        @apply text-4xl;
    }
}