@reference "tailwindcss";

/* ================= SECTION ================= */
.global-section {
    @apply bg-white py-20;
}

/* ================= HEADER ================= */
.global-header {
    @apply mb-8;
}

.global-heading {
    @apply text-3xl font-[500] text-[#707070] mb-4 uppercase relative;
}

.global-heading-line {
    @apply block border-t-4 border-[#F04E30] w-16 mb-4;
}

.global-description {
    @apply text-gray-600 text-sm max-w-5xl tracking-normal leading-relaxed;
}

/* ================= DESKTOP LAYOUT ================= */
.global-desktop {
    @apply hidden w-full gap-4 items-center;
}



.global-image-wrapper {
    @apply w-[40%];
}

.global-image {
    @apply w-full h-auto object-contain;
}

.global-logos {
    @apply w-[60%] grid grid-cols-3 grid-rows-2 gap-4;
}

.global-logo-cell {
    @apply flex justify-center items-center px-2 h-24;
}

.global-logo-cell-border {
    @apply border-r border-gray-300;
}

.global-logo-box {
    @apply w-38 h-28 flex justify-center items-center;
}

.global-logo {
    @apply object-contain w-full h-full;
}

/* ================= MOBILE ================= */
.global-mobile {
    @apply block px-4;
}

.global-mobile-image {
    @apply mb-4;
}

.global-mobile-logos {
    @apply grid grid-cols-2 gap-4;
}

.global-mobile-logo {
    @apply flex justify-center items-center h-24 border border-gray-200 rounded;
}

.global-mobile-logo-img {
    @apply object-contain w-24 h-20;
}

