@reference "tailwindcss";

/* ================= SECTION ================= */
.placements-section {
    @apply bg-[#FAF8F0] py-20;
}

/* ================= HEADER ================= */
.placements-heading {
    @apply text-3xl font-[500] text-[#707070] mb-3;
}

.placements-heading-line {
    @apply w-16 border-[#F04E30] border-t-4 mb-3;
}

.placements-description {
    @apply text-base text-gray-500 font-[400] max-w-3xl;
}

/* ================= GRID ================= */
.placements-grid {
    @apply max-w-7xl mx-auto mt-10 grid grid-cols-1 gap-6;
}

/* ================= ITEM ================= */
.placements-item {
    @apply text-[#58595B] text-2xl font-[300] px-4;
}

@media (min-width: 768px) {
    .placements-grid {
        @apply grid-cols-3;
    }
}

@media (min-width: 768px) {
    .placements-heading {
        @apply text-4xl;
    }
}

@media (min-width: 768px) {
    .placements-item {
        border-right: 2px solid rgb(209 213 219);
    }

    .placements-item:last-child {
        border-right: none;
    }
}

.placements-highlight {
    @apply font-bold;
}