@reference "tailwindcss";

/* ================= SECTION ================= */
.testimonial-section {
    @apply py-10 bg-[#F4F4F4];
}

/* ================= HEADING ================= */
.testimonial-heading {
    @apply text-4xl font-medium text-gray-500 mb-4;
}

.testimonial-heading-line {
    @apply border-red-500 border-2 w-12 mb-2;
}

/* ================= TABS ================= */
.testimonial-tabs {
    @apply flex justify-center gap-4 flex-wrap text-center;
}

.testimonial-tab {
    @apply px-3 py-1 text-base transition-all text-gray-500 hover:text-gray-700;
}

.testimonial-tab-active {
    @apply underline text-black;
}

.testimonial-tab-divider {
    @apply border-r border-gray-300 pr-4;
}

/* ================= SWIPER ================= */
.testimonial-swiper-wrapper {
    @apply m-auto max-w-[800px];
}

/* ================= SLIDE ================= */
.testimonial-slide {
    @apply gap-12 min-h-[316px];
}

@media (max-width: 639px) {
    .testimonial-slide {
        @apply flex-col;
    }
}

/* ================= IMAGE ================= */
.testimonial-avatar {
    @apply w-[200px] h-[200px] rounded-full overflow-hidden flex-1;
}

.testimonial-avatar img {
    @apply w-full h-full object-cover;
}

/* ================= CONTENT ================= */
.testimonial-content {
    @apply flex-3;
}

.testimonial-text {
    @apply text-[#707070] mt-2;
}

.testimonial-name {
    @apply font-[600] text-sm mt-1;
}

.testimonial-year {
    @apply font-[Arial] text-[#707070] leading-5 mt-2;
}

.testimonial-extra {
    @apply text-[#707070] mt-2;
}

/* ================= EMPTY ================= */
.testimonial-empty {
    @apply text-[#707070] text-center py-16;
}